/* Position the page header for various screen sizes */
header small {
  white-space: nowrap;
}
@media (min-width: 992px) {
  header h1 {
    text-align: right;
  }
}
@media (min-width: 768px) {
  header small {
    float: right;
    white-space: normal;
  }
}

/* Page header colors */
header small a {
  color: #999;
}
header small a:hover,
header small a:focus {
  color: #333;
}

/* Disable text decorations for the page header links */
header a:hover,
header a:focus {
  text-decoration: none;
}

/* Code markup */
div.highlight pre {
  /* Undo Bootstrap's <pre> screwiness */
  white-space: pre;
  word-wrap: normal;
  /* Scrollbars */
  overflow-x: auto;
}

footer {
  margin-top: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #e87600;
  color: #fff;
}
