a {
  color: #e87600;
}

a:hover,
a:focus {
  color: #ae6d2c;
}

article h2 a {
  color: #333;
}

header {
  text-align: right;
}

header h1 {
  color: #e87600;
}

header a i {
  color: #333;
}

header a:hover i,
header a:focus i {
  color: #e87600;
}

div.highlight pre {
  /* Undo Bootstrap's <pre> screwiness */
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  /* Scrollbars */
  overflow-x: auto;
}

code {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
}

footer {
  margin-top: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #e87600;
  color: #fff;
}
