a {
  color: #e87600;
}

a:hover,
a:focus {
  color: #ae6d2c;
}

article h2 a {
  color: #333;
}

/* Header layout */
header h1 {
  color: #e87600;
}

@media (min-width: 992px) {
  header h1 {
    text-align: right;
  }
}

header small {
  white-space: nowrap;
}

@media (min-width: 768px) {
  header small {
    float: right;
    white-space: normal;
  }
}

/* Header colors */
header i {
  color: #999;
}

header a:hover,
header a:focus {
  color: #e87600;
}

/* Code markup */
div.highlight pre {
  /* Undo Bootstrap's <pre> screwiness */
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  /* Scrollbars */
  overflow-x: auto;
}

footer {
  margin-top: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #e87600;
  color: #fff;
}
