a {
  color: #e87600;
}

a:hover,
a:focus {
  color: #ae6d2c;
}

article h2 a {
  color: #333;
}

/* Header stuff */
header h1 {
  color: #e87600;
}

header small {
  white-space: nowrap;
}

@media (min-width: 768px) {
  header small {
    float: right;
    white-space: normal;
  }
}

header i {
  color: #999;
}

header a:hover,
header a:focus {
  color: #e87600;
}

@media (min-width: 992px) {
  header h1 {
    text-align: right;
  }
}

/* Code markup */
div.highlight pre {
  /* Undo Bootstrap's <pre> screwiness */
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  /* Scrollbars */
  overflow-x: auto;
}

code {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
}

footer {
  margin-top: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #e87600;
  color: #fff;
}
