[submodule "bootstrap"]
	path = bootstrap
	url = git://github.com/twbs/bootstrap.git
[submodule "disaster-theme"]
	path = disaster-theme
	url = https://github.com/paxswill/disaster-theme
[submodule "pelican-ipythonnb"]
	path = pelican-ipythonnb
	url = https://github.com/danielfrg/pelican-ipythonnb.git
[submodule "plugins/pelican-ipythonnb"]
	path = plugins/pelican-ipythonnb
	url = https://github.com/paxswill/pelican-ipythonnb.git
