appnope==0.1.0
blinker==1.4
decorator==4.0.6
docutils==0.12
feedgenerator==1.7
functools32==3.2.3.post2
ghp-import==0.4.1
gnureadline==6.3.3
ipython==4.0.1
ipython-genutils==0.1.0
Jinja2==2.8
jsonschema==2.5.1
jupyter-core==4.0.6
Markdown==2.6.5
MarkupSafe==0.23
mistune==0.7.1
nbconvert==4.1.0
nbformat==4.0.1
path.py==8.1.2
pelican==3.6.3
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
Pygments==2.0.2
-e git+https://github.com/john2x/solarized-pygment.git@2135e9376b22af9c4b1ab39ba89b6f8080641e83#egg=pygments_solarized-master
python-dateutil==2.4.2
pytz==2015.7
simplegeneric==0.8.1
six==1.10.0
smartypants==1.8.6
traitlets==4.0.0
typogrify==2.0.7
Unidecode==0.4.18
wheel==0.38.1
