<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}Default Title{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-salce=1.0">
    <!-- Boostrap resources -->
    <link href="{{ THEME_STATIC_DIR if THEME_STATIC_DIR else 'theme' }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ THEME_STATIC_DIR if THEME_STATIC_DIR else 'theme' }}/css/style.css" rel="stylesheet" media="screen">
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    <div class="container">
      <div class="row">
        <header class="col-md-offset-1 col-md-2">
          {% block sidebar %}
          <h1>Disaster Area</h1>
          <ul class="nav nav-pills nav-stacked">
            <li>by Will Ross</li>
            <li>Email</li>
            <li>Github</li>
          </ul>
          {% endblock sidebar %}
        </header>
        <div class="col-md-6">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
    <footer class="row">
      <div class="col-md-offset-3 col-md-3">
        <ul>
        {% block recent_articles %}
        {% for article in articles[:5] %}
        <li><a href="{{ article.url }}">{{ article.title }}</a></li>
        {% endfor %}
        {% endblock recent_articles %}
        </ul>
      </div>
      <div class="col-md-3">
        <p>Copyright Will Ross blahblah</p>
      </div>
    </footer>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ THEME_STATIC_DIR if THEME_STATIC_DIR else 'theme' }}/js/bootstrap.min.js"></script>
    {% endblock body %}
  </body>
</html>
