{% import "macros.html" as macros %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{{ macros.title() }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if FEED_ALL_ATOM %}
    <link rel="alternate" type="application/atom+xml" title="{{ SITENAME }}" href="{{ FEED_DOMAIN}}/{{FEED_ALL_ATOM }}">
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link rel="alternate" type="application/rss+xml" title="{{ SITENAME }}" href="{{ FEED_DOMAIN}}/{{FEED_ALL_RSS }}">
    {% endif %}
    <!-- Stylesheets -->
    <link rel="stylesheet" media="screen" href="{{ THEME_STATIC_DIR if THEME_STATIC_DIR else '/theme' }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ THEME_STATIC_DIR if THEME_STATIC_DIR else '/theme' }}/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ THEME_STATIC_DIR if THEME_STATIC_DIR else '/theme' }}/css/style.css">
    <link rel="stylesheet" href="{{ THEME_STATIC_DIR if THEME_STATIC_DIR else '/theme' }}/css/pygments.css">
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    <div class="container">
      <div class="row">
        <header class="col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-2">
          {% block sidebar %}
          <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a><br class="visible-md visible-lg">
            <small>
              {% block social_buttons %}
              {% if EMAIL %}
              <a href="mailto:{{ EMAIL }}"><i class="icon-envelope"></i></a>
              {% endif %}
              {% if GITHUB_ID %}
              <a href="https://github.com/{{ GITHUB_ID }}"><i class="icon-github-sign"></i></a>
              {% endif %}
              {% if BITBUCKET_ID %}
              <a href="https://bitbucket.org/{{ BITBUCKET_ID }}"><i class="icon-bitbucket-sign"></i></a>
              {% endif %}
              {% if STACKOVERFLOW_ID %}
              <a href="http://stackoverflow.com/users/{{ STACKOVERFLOW_ID }}"><i class="icon-stackexchange"></i></a>
              {% endif %}
              {% if DRIBBBLE_ID %}
              <a href="http://dribbble.com/{{ DRIBBBLE_ID }}"><i class="icon-dribbble"></i></a>
              {% endif %}
              {% if FLICKR_ID %}
              <a href="http://www.flickr.com/photos/{{ FLICKR_ID }}"><i class="icon-flickr"></i></a>
              {% endif %}
              {% if LINKEDIN_ID %}
              <a href="http://www.linkedin.com/in/{{ LINKEDIN_ID }}"><i class="icon-linkedin-sign"></i></a>
              {% endif %}
              {% if TWITTER_ID %}
              <a href="https://twitter.com/{{ TWITTER_ID }}"><i class="icon-twitter-sign"></i></a>
              {% endif %}
              {% if FACEBOOK_ID %}
              <a href="https://facebook.com/{{ FACEBOOK_ID }}"><i class="icon-facebook-sign"></i></a>
              {% endif %}
              {% endblock social_buttons %}
            </small>
          </h1>
          {% endblock sidebar %}
        </header>
        <div class="clearfix hidden-md hidden-lg"></div>
        <div class="col-sm-2 hidden-md hidden-lg"></div>
        <div class="col-sm-8 col-md-6">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-3">
            <ul>
              <li>About</li>
              <li>Archives</li>
            </ul>
          </div>
          <div class="col-md-3">
            <p>&copy; {{ AUTHOR }} blahblah</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ THEME_STATIC_DIR if THEME_STATIC_DIR else '/theme' }}/js/bootstrap.min.js"></script>
    {% endblock body %}
  </body>
</html>
