{% import "macros.html" as macros %}
{% macro title(page_title=None) %}
{% if page_title %}
{{ page_title }} | {{ SITENAME }}
{%- else -%}
{{ SITENAME }}
{%- endif %}
{% endmacro %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{{ title() }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR if THEME_STATIC_DIR else '/theme' }}/favicon.ico">
    {% if FEED_ALL_ATOM %}
    <link rel="alternate" type="application/atom+xml" title="{{ SITENAME }}" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link rel="alternate" type="application/rss+xml" title="{{ SITENAME }}" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">
    {% endif %}
    <!-- Stylesheets -->
    <link rel="stylesheet" media="screen" href="{{ SITEURL }}/{{ THEME_STATIC_DIR if THEME_STATIC_DIR else '/theme' }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR if THEME_STATIC_DIR else '/theme' }}/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR if THEME_STATIC_DIR else '/theme' }}/css/style.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR if THEME_STATIC_DIR else '/theme' }}/css/pygments.css">
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    <div class="container">
      <div class="row">
        <header class="col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-2">
          {% block sidebar %}
          <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a><br class="visible-md visible-lg">
            {% if SOCIAL is defined %}
              <small>
              {% block social_buttons %}
              {% for social_tuple in SOCIAL %}
                {% if social_tuple[0]|lower == 'email' %}
                  <a href="mailto:{{ social_tuple[1] }}">
                    <i class="icon-envelope"></i>
                  </a>
                {% elif social_tuple[0]|lower == 'github' %}
                  <a href="https://github.com/{{ social_tuple[1] }}">
                    <i class="icon-github-sign"></i>
                  </a>
                {% elif social_tuple[0]|lower == 'bitbucket' %}
                  <a href="https://bitbucket.org/{{ social_tuple[1] }}">
                    <i class="icon-bitbucket-sign"></i>
                  </a>
                {% elif social_tuple[0]|lower == 'stackoverflow' %}
                  <a href="http://stackoverflow.com/users/{{ social_tuple[1] }}">
                    <i class="icon-stackexchange"></i>
                  </a>
                {% elif social_tuple[0]|lower == 'dribble' %}
                  <a href="http://dribbble.com/{{ social_tuple[1] }}">
                    <i class="icon-dribbble"></i>
                  </a>
                {% elif social_tuple[0]|lower ==  'flickr' %}
                  <a href="http://www.flickr.com/photos/{{ social_tuple[1] }}">
                    <i class="icon-flickr"></i>
                  </a>
                {% elif social_tuple[0]|lower == 'linkedin' %}
                  <a href="http://www.linkedin.com/in/{{ social_tuple[1] }}">
                    <i class="icon-linkedin-sign"></i>
                  </a>
                {% elif social_tuple[0]|lower == 'twitter' %}
                  <a href="https://twitter.com/{{ social_tuple[1] }}">
                    <i class="icon-twitter-sign"></i>
                  </a>
                {% elif social_tuple[0]|lower == 'facebook' %}
                  <a href="https://facebook.com/{{ social_tuple[1] }}">
                    <i class="icon-facebook-sign"></i>
                  </a>
                {% elif social_tuple[0]|lower == 'atom' %}
                  {% if social_tuple[1] == True %}
                    {% if FEED_ALL_ATOM is defined %}
                      <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">
                        <i class="icon-rss-sign"></i>
                      </a>
                    {% elif FEED_ATOM is defined %}
                      <a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}">
                        <i class="icon-rss-sign"></i>
                      </a>
                    {% else %}
                      <a href="{{ social_tuple[1] }}">
                        <i class="icon-rss-sign"></i>
                      </a>
                    {% endif %}
                  {% endif %}
                 {% elif social_tuple[0]|lower == 'rss' %}
                  {% if social_tuple[1] == True %}
                    {% if FEED_ALL_RSS is defined %}
                      <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">
                        <i class="icon-rss-sign"></i>
                      </a>
                    {% elif FEED_RSS is defined %}
                      <a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}">
                        <i class="icon-rss-sign"></i>
                      </a>
                    {% else %}
                      <a href="{{ social_tuple[1] }}">
                        <i class="icon-rss-sign"></i>
                      </a>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% endblock social_buttons %}
            </small>
            {% endif %}
          </h1>
          {% endblock sidebar %}
        </header>
        <div class="clearfix hidden-md hidden-lg"></div>
        <div class="col-sm-2 hidden-md hidden-lg"></div>
        <div class="col-sm-8 col-md-6">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-3">
            {% if LINKS %}
            <ul>
              {% for link in LINKS %}
                <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          <div class="col-md-3">
            <p>&copy; {{ AUTHOR }} {{ macros.copyright_years(articles) }}</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ THEME_STATIC_DIR if THEME_STATIC_DIR else '/theme' }}/js/bootstrap.min.js"></script>
    {% endblock body %}
  </body>
</html>
