{% macro title(page_title=None) %}
{% if page_title %}
{{ page_title }} | {{ SITENAME }}
{% else %}
{{ SITENAME }}
{% endif %}
{% endmacro %}

{% macro article_timestamp(article) %}
<time datetime="{{ article.date|strftime('%Y-%m-%d %H:%M') }}" pubdate>
  {{ article.locale_date }}
</time>
{% endmacro %}


{% macro article_title(article) %}
<h2>
  <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
  {% if article.date is defined -%}
    <small>{{ article_timestamp(article) }}</small>
  {%- endif %}
</h2>
{% endmacro %}

{% macro article_lede(article) %}
<article>
{{ article_title(article) }}
{{ article.summary }}
</article>
{% endmacro %}

{% macro article_format(article) %}
<article>
{{ article_title(article) }}
{{ article.content }}
</article>
{% endmacro %}

{% macro previous_url(page) %}
{% if page.has_previous() -%}
  {{ page.paginator.page(page.previous_page_number()).url }}
{%- endif %}
{% endmacro %}

{% macro next_url(page) %}
{% if page.has_next() -%}
  {{ page.paginator.page(page.next_page_number()).url }}
{%- endif %}
{% endmacro %}
